@model TaskPerformed

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskPerformed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletePCT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletePCT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursConsumed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursConsumed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskEmp.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
